<h2 class="content-title"><%= @card_collection.title || "Untitled card collection" %></h2>

<% if can? :manage, @card_collection %>
  <%= link_to "Manage cards", card_collection_cards_path(@card_collection), class: "btn" %>
<% end %>