<h2 class="content-title">Dashboard</h2>
<%= link_to "Card collections", card_collections_path, class: 'btn' %>

<div class="card mx-0">
  <p class="text-muted">There will be some content eventually</p>
</div>