<div class="text-center">
  <%= image_tag "avocado.png" %>
  <h1>Hello there!</h1>

  <p>
    To start using the app, please <%= link_to "sign up", sign_up_path %>,
    or <%= link_to "sign in", sign_in_path %> if you already have an account.</p>
</div>