<div class="text-center">
  <%= image_tag "error.png" %>

  <div class="text-monospace">
    <div class="font-size-20 text-muted">HTTP 404</div>
    <h1>Not Found</h1>
  </div>

  <%= link_to "Return to main page", root_path, class: 'btn btn-primary' %>
</div>
