<div class="text-center">
  <%= image_tag "500.png" %>

  <div class="text-monospace">
    <div class="font-size-20 text-muted">HTTP 500</div>
    <h1>Internal Server Error</h1>
  </div>

  <%= link_to "Return to main page", root_path, class: 'btn btn-primary' %>
</div>
